.log-main {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.my-act {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid darkgray;
}

.act-title {
    width: 100%;
    height: 20px;
    display: flex;
    flex-direction: row;
}

.act-t {
    width: 70%;
    height: 20px;
    line-height: 20px;
    text-align: left;
}

.act-date {
    width: 30%;
    height: 20px;
    text-align: left;
    font-size: 60%;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.act-mems {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
}

.act-mem {
    width: 50px;
    height: 50px;
}

.act-mem image {
    height: 30px;
    width: 30px;
    margin-left: 10px;
}

.mem-nick {
    width: 50px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


